body {
  display: flex;
  font-size: 40px;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

.first-respondent {
  position:absolute;
  top:5vh;
  left: 15vw;
  text-align: center;
  width: 80vh;
  height: 80vh;
  border: 30px solid black;
  border-radius: 20%;
  transition: background-color 2s;
}

.second-respondent {
  position:absolute;
  top:5vh;
  left: 60vw;
  text-align: center;
  width: 40vh;
  height: 40vh;
  border: 30px solid black;
  border-radius: 30%;
  transition: background-color 2s;
}

.number-display {
  font-size: 70vh;
  line-height: 70vh;
}

.number-display2 {
  font-size: 30vh;
  line-height: 30vh;
}

.order-text {
  font-size: 10vh;
}

.order-text2 {
  font-size: 7vh;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.white {
  color: white;
  border-color: white;
}